torch
torchvision
deepspeed==0.17.0
accelerate
toml
datasets
pillow
sentencepiece
safetensors
wandb
tqdm
numpy
bitsandbytes
flash-attn==2.8.1
scipy
imageio
tensorboard
peft
# Optional if you read MP4 videos via imageio:
# imageio-ffmpeg
